.vertical{
	writing-mode: vertical-rl;
}
.big-header{
	width: 200px;
	height: 150px;
}
.rectif{
	height: 25px;
	min-width: 27px;
	padding: 6px 2px;
	overflow:hidden;
	resize: none;
}

.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
    padding: 2px;
}

.form-control {
	border-radius: 0px;
}