<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fichas de Actividades</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="CSS/bootstrap.css">
    <link rel="stylesheet" href="CSS/styles.css">
    <script src="JS/jquery.js"></script>
    <script src="JS/bootstrap.js"></script>
    <script src="JS/angular.js"></script>
    <script src="JS/controller.js"></script>
  </head>
  <body ng-app="dataSheet" ng-controller="ctrl">
    <div class="container">

      <div class="jumbotron">
        <div class="row">
          <div class="col-xs-3">
            <img src="IMG/unsa3.png" class="col-xs-15 "  width="300" height="280" >
          </div>
          <div class="col-xs-13">
            <h1>UNIVERSIDAD NACIONAL DE SAN AGUSTIN DE AREQUIPA<br>
              <small>VICERECTORADO ACADEMICO</small>
            </h1>
          </div>
        </div>

        <p>PROXIMAMENTE UCOMEDOR Y UGYGABUS</p> 
      </div>

      <div class="row">

        <div class="col-sm-12">
          <table class="table table-striped">
            <tr>
              <th>APELLIDOS Y NOMBRES</th>
              <th>FACULTAD</th>
              <th>DEPARTAMENTO ACADEMICO</th>
              <th>CATEGORIA</th>
              <th>REGIMEN</th>
              <th>CONDICION</th>
            </tr>
            <tr>
              <td><input type="text" class="form-control" ng-model="name" placeholder="Apellidos, Nombres"></td>
              <td><input type="text" class="form-control" ng-model="faculty" placeholder="Facultad"></td>
              <td><input type="text" class="form-control" ng-model="deparment" placeholder="Departamento"></td>
              <td><input type="text" class="form-control" ng-model="category" placeholder="Categoria"></td>
              <td><input type="text" class="form-control" ng-model="regime" placeholder="Regimen"></td>
              <td><input type="text" class="form-control" ng-model="status" placeholder="Condicion"></td>
            </tr>
          </table>
          
        </div>

        <div class="col-sm-12">
          <table class="table table-striped">
            <tr>
              <th>TITULO O GRADO</th>
              <td><input type="text" class="form-control" ng-model="title" placeholder="Titulo"></td>
              <th>ESPECIALIDAD</th>
              <td><input type="text" class="form-control" ng-model="speciality" placeholder="Especialidad"></td>
            </tr>
          </table>
        </div>

        <div class="col-sm-12">
          <table class="table table-bordered" id="tablet">
            <tr>
              <th class="big-header" rowspan="2">Curso</th>
              <th rowspan="2"><p class="vertical">(A)Anual (S)Semestral</p></th>
              <th rowspan="2">Escuela Profecional</th>
              <th colspan="3">Horas semanales por grupo</th>
              <th rowspan="2"><p class="vertical">Horas compartidas</p></th>
              <th rowspan="2"><p class="vertical">Horas Semanales</p></th>
              <th rowspan="2"><p class="vertical">Total</p></th>
              <th rowspan="2"><p class="vertical">N° Aula</p></th>
              <th rowspan="2"><p class="vertical">N° Grupo</p></th>
              <th rowspan="2"><p class="vertical">N° Alumnos</p></th>
              <th  colspan="6">Dias (Consigne Horas de Inicio y Termino)</th>
            </tr>
            <tr>
              <td>T</td>
              <td>P</td>
              <td>L</td>
              <td></td>
              <td>L</td>
              <td>M</td>
              <td>M</td>
              <td>J</td>
              <td>V</td>
            </tr>
            <tr>
              <td rowspan="2"><input type="text" class="form-control rectif" ng-model="course0" placeholder="Curso"></td>
              <td rowspan="2"><input type="text" class="form-control rectif" ng-model="sem0" placeholder=""></td>
              <td rowspan="2"><input type="text" class="form-control rectif" ng-model="school0" placeholder=""></td>
              <td rowspan="2"><input type="text" class="form-control rectif" ng-model="t0" placeholder=""></td>
              <td rowspan="2"><input type="text" class="form-control rectif" ng-model="p0" placeholder=""></td>
              <td rowspan="2"><input type="text" class="form-control rectif" ng-model="l0" placeholder=""></td>
              <td rowspan="2"><input type="text" class="form-control rectif" ng-model="hshare0" placeholder=""></td>
              <td rowspan="2"><input type="text" class="form-control rectif" ng-model="hweek0" placeholder=""></td>
              <td rowspan="2"><input type="text" class="form-control rectif" ng-model="htotal0" placeholder=""></td>
              <td rowspan="2"><input type="text" class="form-control rectif" ng-model="nroom0" placeholder=""></td>
              <td rowspan="2"><input type="text" class="form-control rectif" ng-model="group0" placeholder=""></td>
              <td rowspan="2"><input type="text" class="form-control rectif" ng-model="nstudent0" placeholder=""></td>
              <td>De: </td>
              <td><input type="text" class="form-control rectif" ng-model="ld0" placeholder=""></td>
              <td><input type="text" class="form-control rectif" ng-model="md0" placeholder=""></td>
              <td><input type="text" class="form-control rectif" ng-model="md0" placeholder=""></td>
              <td><input type="text" class="form-control rectif" ng-model="jd0" placeholder=""></td>
              <td><input type="text" class="form-control rectif" ng-model="vd0" placeholder=""></td>
            </tr>
            <tr>
              <td>Hasta: </td>
              <td><input type="text" class="form-control rectif" ng-model="lh0" placeholder=""></td>
              <td><input type="text" class="form-control rectif" ng-model="mh0" placeholder=""></td>
              <td><input type="text" class="form-control rectif" ng-model="mh0" placeholder=""></td>
              <td><input type="text" class="form-control rectif" ng-model="jh0" placeholder=""></td>
              <td><input type="text" class="form-control rectif" ng-model="vh0" placeholder=""></td>
            </tr>
          </table>
          <div></div>
          <button type="button" class="btn btn-primary" ng-click="addCourse()">
          	<span class="glyphicon glyphicon-plus"></span>
          </button>
          <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-copy"></span></button>
        </div>
        <br>
    </div>
    </div>
    <input type="text" class="form-control" ng-model="courses" placeholder="">
  </body>
</html>

